version: 2.1

orbs:
  codecov: codecov/codecov@1.0.5

jobs:
  unit-test-latest-go:
    docker:
      - image: golang:stretch
    steps:
      - checkout
      - run:
          name: Build project and perform tests
          command: make test
  unit-test-go:
      docker:
        - image: circleci/golang:1.15
      steps:
        - checkout
        - run:
            name: Build project and perform tests
            command: make test
        - codecov/upload:
            file: ./single.coverprofile
  format-test:
    docker:
      - image: circleci/golang:latest
    steps:
      - checkout
      - run:
          name: Install ruby
          command: sudo apt-get install rubygems
      - run:
          name: Install cddl gem
          command: sudo gem install cddl -v 0.8.5
      - run:
          name: "Verify binary format"
          command: make format-test

workflows:
  version: 2
  test:
    jobs:
      - unit-test-go
      - unit-test-latest-go
      - format-test
